
/* 

This CSS could benefit from LESS or SASS. Normally, I'd use LESS for a fresh project.
No need for this quick little project!

*/

/* ------------------ */
/* Product Card General */
/* ------------------ */
.product-card {
    margin: 15px;
    padding: 16px 8px;
    display: inline-block;
    overflow: hidden;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.product-card .product-name,
.product-card .product-price {
    padding-top: 16px;
}

.product-card .product-name {
    color: #212121;
}

.product-card.sold-out .product-name,
.product-card.sold-out .product-price {
    color: rgb(134, 134, 134);
}
.product-card.sold-out .product-name {
    text-decoration: line-through;
}

.product-card .product-price {
    color: #3f3f3f;
}

.product-card .product-rating {
    padding-top: 30px;
    padding-bottom: 40px;
}
.product-card .product-rating img {
    width: 22px;
    opacity: 0.2;
}

.product-card .product-rating img.filled {
    opacity: 1;
}

/* ------------------ */
/* Product Image */
/* ------------------ */
.product-card .product-image {
    position: relative;
}   

.product-card .product-image img {
    width: 500px;
    transition: ease-in-out 200ms;
}

.product-card .product-image .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 45%;

    display: none;
}

.product-card .product-image .sold-out-tag {
    background-color: rgb(255, 175, 25);
    border-radius: 100%;
    width: 75px;
    height: 75px;

    position: absolute;
    left: 10%;
    bottom: 10%;
}

.product-card .product-image .sold-out-tag {
    display: flex;
    align-items: center;
}
.product-card .product-image .sold-out-tag div {
    color: white;
    font-size: 14pt;
    font-weight: bold;
}

.product-card:not(.sold-out) .product-image .sold-out-tag {
    display: none;
}

.product-card.sold-out .product-image .sold-out-tag {
    display: flex;
}

.product-card:not(.sold-out):hover .product-image img {
    opacity: 0.5;
}
.product-card:not(.sold-out):hover .product-image .btn {
    display: block;
}

/* ------------------ */
/* Product Swatch */
/* ------------------ */

.product-card .product-swatches {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .product-swatches .swatch{
    width: 30px;
    height: 30px;
    margin: 4px;
    cursor: pointer;
}

.product-card .product-swatches .swatch.active {
    border: 1px solid white;
    outline: 1px solid black;
}